/* constants */
:root{
    --orange:#fb9c46;
    --underline--color:#ff922f;
    --para--text-color: #90A3B4;
    --green:#058E6E;
    --white:#FFFFFF;
    --card--text-color:#393939;
    --card--list--color:#8D8D8D;

}