/* Font family */

@font-face {
  font-family: "Poppins-bold";
  src: url("/public/assets/fonts/Poppins/poppins-bold.woff2");
}

@font-face {
  font-family: "Poppins-light";
  src: url("/public/assets/fonts/Poppins/poppins-light.woff2");
}

@font-face {
  font-family: "Poppins-medium";
  src: url("/public/assets/fonts/Poppins/poppins-medium.woff2");
}

@font-face {
  font-family: "Poppins-regular";
  src: url("/public/assets/fonts/Poppins/poppins-regular.woff2");
}

@font-face {
  font-family: "Poppins-sem-ibold";
  src: url("/public/assets/fonts/Poppins/poppins-semibold.woff2");
}
