@import url("font.css");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;1,400&family=Nunito+Sans&family=Poppins:ital,wght@0,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;1,400&family=Nunito+Sans&family=Poppins:ital,wght@0,400;1,500&family=Rubik&display=swap");
/* Home page styles */
.container {
  width: 100%;
}
/* section styles */
.section {
  display: flex;
  padding: 2rem 1.5rem;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3rem;
  overflow: hidden;
}
.get-freelessons {
  background: linear-gradient(
    360.04deg,
    var(--gradiant--color) 0.05%,
    var(--gradiant--orange--color) 97.84%
  );
  border-radius: 0.5rem;
  margin-bottom: 7rem;
  padding-top: 4rem;
  border-bottom-left-radius: 0rem;
}
.row {
  flex: 1;
}
.free-lessons .row,
.book-lessons .row {
  padding-bottom: 3rem;
}
.book-lessons {
  padding-bottom: 0rem;
}
.what-we-offer .items-in-row {
  padding-bottom: 0.6rem;
}
.items-in-row {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  writing-mode: horizontal-tb;
}
h1,
h2 {
  font-size: 2rem;
  font-family: "Poppins-medium";
}
.free-lessons .heading {
  font-family: "Poppins-bold";
  line-height: 3.3rem;
  padding: 1rem 0rem 1.5rem 0rem;
  letter-spacing: 0.035em;
  display: block;
}

.heading {
  letter-spacing: 0.01rem;
}
.what-you-get .para,
.what-you-get .heading {
  text-align: end;
}
p {
  white-space: nowrap;
}
.heading {
  white-space: nowrap;
}
.what-you-get .row {
  margin-bottom: 1.5rem;
}
.what-you-get .para {
  padding: 0.5rem 0rem 0rem 1.8rem;
}
.what-you-get li {
  list-style: disc;
  list-style-position: inside;
  white-space: nowrap;
}
.what-we-offer {
  gap: 0.4rem;
}
.what-you-get .text-color {
  color: var(--green);
}
.what-you-get {
  padding-top: 4rem;
}
.orange-text-color {
  color: var(--orange);
}
.free-lessons .para {
  font-size: 0.85rem;
}
.para {
  padding-bottom: 2rem;
  font-size: 0.75rem;
  font-family: "Poppins-light";
  line-height: 2;
  color: var(--para--text-color);
}
.edu-smart .heading {
  letter-spacing: 0.035rem;
  display: block;
}
.edu-smart {
  gap: 0rem;
  padding-top: 4rem;
}
.edu-smart .para {
  line-height: 2rem;
  margin-top: 1rem;
}
.get-freelessons .heading,
.get-freelessons .para {
  color: var(--white);
}
.get-freelessons .para {
  font-family: "Poppins-regular";
}
h3 {
  font-size: 1rem;
}
h3,
.text-color {
  color: var(--orange);
  font-family: "Poppins-medium";
  white-space: nowrap;
}
.under-line {
  margin-left: 1.12rem;
}

img {
  width: 100%;
  display: inline-block;
}
/* Free Lesson section image container design */
.tutor-image-container .tutor-image {
  display: flex;
  justify-content: right;
}
.tutor-image-container .tutor-image .image {
  width: 13rem;
  background: linear-gradient(
    139.15deg,
    #f1c365 7.67%,
    #f6ae54 40.13%,
    #ff922f 59.18%
  );
  border-radius: 12.75rem;
}
.tutor-image-container .container {
  width: 16rem;
  height: 19rem;
  position: relative;
}
.flag-list {
  position: relative;
  display: block;
}
.flag1 {
  width: 3rem;
  border-radius: 3rem;
  bottom: 15.8rem;
  left: 2.3rem;
}
.flag2 {
  width: 3rem;
  bottom: 21.5rem;
  left: 11.2rem;
}
.flag3 {
  width: 3.5rem;
  bottom: 16rem;
  left: 14.5rem;
}
.rectangle {
  position: relative;
  width: 6.7rem;
  bottom: 15.4rem;
  right: 1.3rem;
  filter: drop-shadow(0px 4px 357px rgba(255, 146, 47, 0.63))
    drop-shadow(0px 0.500862px 44.7019px rgba(255, 146, 47, 0.21));
}
.rectangle-label {
  width: 4.5rem;
  position: relative;
  bottom: 19rem;
  right: 0.2rem;
}
.rectangle-bar {
  width: 1.2rem;
  position: relative;
  bottom: 20.5rem;
  right: 1.8rem;
}

.tutor {
  width: 1.7rem;
  position: relative;
}
.tutor1 {
  bottom: 20.2rem;
  right: 0.4rem;
}
.tutor2 {
  bottom: 22.2rem;
  left: 0.4rem;
}
.tutor3 {
  bottom: 24.1rem;
  left: 1.3rem;
}
.tutor4 {
  bottom: 26.1rem;
  left: 2rem;
}

.tutor-image-container .circle {
  bottom: 28.2rem;
  left: 2.8rem;
}
.countLabel {
  color: var(--white);
  font-family: "Poppins-medium";
  position: relative;
  font-size: 0.65rem;
  left: 3.3rem;
  bottom: 29.8rem;
}
/* what We Offer section flag list */
.column-container {
  width: 28rem;
  display: flex;
  flex-direction: column;
}
.column-container .items-in-row {
  gap: 1.3rem;
}
.what-we-offer .heading {
  padding: 0.5rem 0 0.5rem 0;
  color: var(--heading--color);
}
.flag {
  width: 3.25rem;
}
.flags .image6 {
  width: 3.5rem;
}
.right-arrow {
  margin-top: 0.2rem;
}
.view-all {
  font-family: "Nunito Sans";
  color: var(--orange);
  margin-top: 1rem;
}
/* book Lessons image conatiner design */
.btnsInrow {
  display: flex;
  gap: 1.5rem;
}
.book-lessons .image {
  width: 14rem;
  border-radius: 16rem;
  position: relative;
  right: 2rem;
}
.circle {
  display: flex;
  justify-content: right;
}
.book-lessons {
  padding-top: 3rem;
}
.book-lessons .container {
  width: 18rem;
  height: 19rem;
  position: relative;
}
.book-lessons .person {
  width: 12rem;
  position: relative;
  bottom: 14.35rem;
  left: 1rem;
  z-index: 1;
}
.outer-circle {
  position: relative;
  width: 18rem;
  bottom: 32.4rem;
  right: 0rem;
}
.book-lessons .card {
  position: relative;
  width: 4rem;
  padding: 1.3rem;
  bottom: 47.2rem;
  right: 1.5rem;
  background: var(--white);
  box-shadow: 0rem 0.4rem 7.5rem rgba(251, 156, 70, 0.23),
    0rem 0.1rem 1.1rem rgba(251, 156, 70, 0.0583613),
    0rem 0.1rem 1rem rgba(251, 156, 70, 0.0811701);
  border-radius: 0.5rem;
}
.heart {
  position: relative;
  width: 0.6em;
  bottom: 51rem;
  left: 0.4rem;
}
.lesson-text {
  position: relative;
  width: 2em;
  bottom: 51rem;
  right: 0.3rem;
}
.small-circle1 {
  position: relative;
  width: 11em;
  bottom: 65rem;
  right: 1.5rem;
}
.book {
  position: relative;
  width: 0.8rem;
  bottom: 72.5rem;
  left: 5.4rem;
}
.book-lessons .small-circle2 {
  position: relative;
  width: 11em;
  bottom: 67rem;
  left: 8.75rem;
}
.book-lessons .security {
  position: relative;
  width: 0.8rem;
  bottom: 74.5rem;
  left: 15.65rem;
}
.learner-image1 {
  position: relative;
  width: 11em;
  bottom: 94rem;
  left: 8.25rem;
  overflow: hidden;
}
.learner-image2 {
  position: relative;
  width: 13em;
  bottom: 99rem;
  right: 4.9rem;
}
/* what You Get image container design */

.what-you-get {
  justify-content: left;
}
.what-you-get .image {
  width: 14rem;
  border-radius: 2rem;
  background-color: var(--background--color);
}
.what-you-get .container {
  width: 19rem;
  height: 16rem;
  position: relative;
}
.what-you-get .person {
  width: 20rem;
  position: relative;
  bottom: 19rem;
  left: 0rem;
}
/* how It Works image conatiner design */
.how-it-works {
  justify-content: left;
}
.how-it-works .heading,
.book-lessons .heading,
.get-freelessons .heading {
  margin-bottom: 0.9rem;
}
.get-freelessons .para {
  padding: 1rem 0rem 1rem 0rem;
}
.learner {
  display: flex;
  justify-content: flex-start;
  width: 17.6rem;
  border-radius: 5rem;
}
.how-it-works .container {
  width: 20rem;
  height: 14rem;
  position: relative;
}
.video-icon-circle {
  width: 2.5rem;
  position: relative;
  bottom: 8.8rem;
  left: 8.2rem;
}
.video-icon {
  width: 0.8rem;
  position: relative;
  bottom: 10.8rem;
  left: 9.1rem;
}
.triangle {
  width: 8rem;
  position: relative;
  bottom: 10rem;
  left: 10rem;
}
.note-line {
  position: relative;
  width: 4.6rem;
  bottom: 16.3rem;
  left: 12rem;
}
/* review design styles */
.tutor-review {
  display: flex;
  width: 23rem;
  margin-bottom: 2rem;
}
.review {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  gap: 1rem;
}
.reviews p {
  font-style: italic;
  font-family: "Poppins-light";
  color: var(--review--text--color);
  font-size: 0.8rem;
  line-height: 1.5rem;
}
.profile-container {
  display: flex;
  justify-content: space-between;
}
.tutor-profile .tutor-image {
  width: 2.4rem;
}
.tutor-profile {
  display: flex;
  gap: 1rem;
}
.tutor-profile label {
  color: var(--orange);
  font-size: 0.7rem;
  font-family: "Poppins-medium";
}
.tutor-profile p {
  color: var(--designation--text--color);
  font-family: "Poppins-medium";
  font-size: 0.5rem;
  margin-bottom: 1rem;
}
.quote {
  width: 1.3rem;
}
.star i.fa {
  color: var(--star--color);
  margin-right: 0.4rem;
  font-size: 0.85rem;
}
.pagination-indicator i.fa {
  color: var(--pagination--default-color);
  margin-left: 0.3rem;
  font-size: 0.5rem;
}
.pagination-indicator i.fa.active {
  color: var(--orange);
}

.tutor-profile .circle {
  width: 1.5rem;
  position: relative;
  left: 4rem;
  top: 0.5rem;
}
.swiper {
  margin-top: 1rem;
  display: inline-block;
  border-radius: 3.8rem;
  background-color: var(--orange);
  color: var(--white);
  padding: 0.13em 0.45em;
}
/* get Free lessons  design styles*/
.smile-emoji {
  font-size: 2rem;
}
.student-imagelist {
  align-items: flex-start;
  position: relative;
}
.student1 {
  position: absolute;
  left: 0rem;
}
.student2 {
  position: absolute;
  left: 1.7rem;
}
.student3 {
  position: absolute;
  left: 3.5rem;
}
.student4 {
  position: absolute;
  left: 5.2rem;
}
.student5 {
  position: absolute;
  left: 6.8rem;
}
.text {
  position: absolute;
  padding-top: 0.7rem;
  font-size: 0.75rem;
  color: var(--white);
  font-family: "Poppins-regular";
  text-underline-position: auto;
  text-decoration: underline;
  left: 10.2rem;
}
/* Fourth section cards style */
.card {
  background: var(--white);
  box-shadow: 0rem -0.2rem 8rem rgba(5, 142, 110, 0.14);
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem 0rem 1rem 0;
}
.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card input {
  accent-color: var(--green);
  border: none;
  outline: none;
}
.card .green-input {
  display: flex;
  justify-content: center;
  background-color: var(--green);
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
  padding: 0.4em 0.4em;
}
.card label {
  font-family: "Poppins-medium";
  color: var(--card--text-color);
  font-size: 0.75rem;
  white-space: nowrap;
}
.card ul {
  color: var(--card--list--color);
  font-size: 0.62rem;
  font-family: "Poppins-light";
  line-height: 1.2rem;
}
.items-in-col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
/* how It Works section cards style */
.how-it-works label {
  font-family: "Poppins-light";
  font-size: 0.75rem;
  color: var(--orange);
}
.how-it-works .card p {
  color: var(--card--list--color);
  font-family: "Poppins-light";
  font-size: 0.6rem;
}
.how-it-works .card {
  box-shadow: 0rem 0.2rem 23.4rem rgba(255, 146, 47, 0.15),
    0px 0.500862px 44.7019px rgba(255, 146, 47, 0.075);
  border-radius: 0.6rem;
}
.items-in-card {
  display: flex;
}
.how-it-works .card i.fa {
  display: inline-block;
  border-radius: 3.8rem;
  background-color: var(--orange);
  color: var(--white);
  padding: 0.5em 0.6em;
  margin-top: 0.25rem;
}
.how-it-works .icon {
  margin-right: 1rem;
}
